{% extends 'main/base.html' %}

{% block title %}Авторизация{% endblock %}
{% block content %}
{% if not current_user.is_authenticated %}
    <form method="post" enctype="multipart/form-data" class="form-control d-flex flex-column gap-3">
        {{form.csrf_token}}
        {{form.email(class="form-control", placeholder="Почта")}}
        {% if form.email.errors %}
            <div class="invalid-feedback">
                {% for error in form.email.errors%}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{form.password(class="form-control", placeholder="ПАРОЛЬ")}}
        {{form.submit(class="btn btn-success")}}
{% endif %}
</form>
{% endblock %}